{% extends "app/base.html" %}
{% block title %}Molecule Info - Sanitize It Yourself{% endblock title %}
{% block meta %}
{% load static %}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Sanitize It Yourself">
<meta name="twitter:description" content="{{ molecule.smiles }}">
{% endblock meta %}
{% block main %}
<section class="pt-3 container min-vh-100">
  <h1 class="h2 pt-3 pb-2 mb-3 border-bottom">Molecule Info</h1>
  {% load static %}
  <div class="text-center">
    <figure class="figure">
      <img class="figure-img img-fluid" src="{% static 'app/mol_images/'%}{{ molecule.uuid }}.png">
      <figcaption class="figure-caption">
          {% for tag in molecule.tags.all %}
          {% if tag.name == 'Ro5' %}
          <span class="badge rounded-pill bg-primary"><small>{{tag.name}}</small></span>
          {% elif tag.name == 'PAINS' %}
          <span class="badge rounded-pill bg-danger"><small>{{tag.name}}</small></span>
          {% elif tag.name == 'MCF' %}
          <span class="badge rounded-pill bg-warning text-dark"><small>{{tag.name}}</small></span>
          {% endif %}
        {% endfor %}
      </figcaption>
    </figure>
  </div>
  <table class="table mw-100 mx-auto mt-5" style="table-layout: fixed;">
      <tr>
        <th scope="row">SMILES</th>
        <td style="word-wrap: break-word;">{{ molecule.smiles }}</td>
      </tr>
      <tr>
        <th scope="row">InChIKey</th>
        <td>{{ molecule.inchikey }}</td>
      </tr>
      <tr>
        <th scope="row">Molecular Weight</th>
        <td>{{ molecule.molecular_weight|floatformat:2 }}</td>
      </tr>
      <tr>
        <th scope="row">Calculated LogP</th>
        <td>{{ molecule.logp|floatformat:2 }}</td>
      </tr>
      <tr>
        <th scope="row">Hydrogen bond donors</th>
        <td>{{ molecule.h_bond_donor }}</td>
      </tr>
      <tr>
        <th scope="row">Hydrogen bond acceptors</th>
        <td>{{ molecule.h_bond_acceptors }}</td>
      </tr>
</table>
<div class="text-center mt-5">
    <a class="btn btn-primary" href="https://twitter.com/intent/tweet?url=https://sanitizer.chemical.space/molecule/{{ molecule.uuid }}"><i class="bi bi-twitter"></i> Tweet</a>
<a class="btn btn-primary" href="https://twitter.com/intent/tweet?text=@retrosynthchan {{ molecule.smiles }}">Send to @retrosynthchan</a>
</div>
{% if evaluations %}
<h2 class="h3 pt-5 pb-2 mb-3 border-bottom">Evaluations</h1>
<table class="table table-bordered w-50 mx-auto mt-5">
  <tr>
      <th>Liked users: {{ molecule.like_count }}</th>
      <th>Disliked users: {{ molecule.dislike_count }}</th>
  </tr>
  {% for like, dislike in evaluations %}
  <tr>
      <td>{% if like is not None %}{{ like }}{% endif %}</th>
      <td>{% if dislike is not None %}{{ dislike }}{% endif %}</th>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% if pains %}
<h2 class="h3 pt-5 pb-2 mb-3 border-bottom">PAINS Filter Match</h1>
{% for p in pains %}
  <div class="text-center">
    <figure class="figure">
        <img class="figure-img img-fluid" src="{% static 'app/mol_images/'%}{{ molecule.uuid }}-pains-{{p}}.png">
    </figure>
  </div>
{% endfor %}
{% endif %}
</section>
</main>
{% endblock main %}

{% block script %}
{% endblock script %}
